In [1]:
import pandas as pd

In [3]:
movie_df= pd.read_csv('movie_metadata.csv')
movie_df.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [4]:
summary= movie_df.describe(include= 'all')
summary

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
count,5024,4939,4993.000000,5028.000000,4939.000000,5020.000000,5030,5036.000000,4.159000e+03,5043,...,5022.000000,5029,5038,4740,4.551000e+03,4935.000000,5030.000000,5043.000000,4714.000000,5043.000000
unique,2,2398,NaN,NaN,NaN,NaN,3032,NaN,NaN,914,...,NaN,46,65,18,NaN,NaN,NaN,NaN,NaN,NaN
top,Color,Steven Spielberg,NaN,NaN,NaN,NaN,Morgan Freeman,NaN,NaN,Drama,...,NaN,English,USA,R,NaN,NaN,NaN,NaN,NaN,NaN
freq,4815,26,NaN,NaN,NaN,NaN,20,NaN,NaN,236,...,NaN,4704,3807,2118,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,140.194272,107.201074,686.509212,645.009761,NaN,6560.047061,4.846841e+07,NaN,...,272.770808,NaN,NaN,NaN,3.975262e+07,2002.470517,1651.754473,6.442138,2.220403,7525.964505
std,NaN,NaN,121.601675,25.197441,2813.328607,1665.041728,NaN,15020.759120,6.845299e+07,NaN,...,377.982886,NaN,NaN,NaN,2.061149e+08,12.474599,4042.438863,1.125116,1.385113,19320.445110
min,NaN,NaN,1.000000,7.000000,0.000000,0.000000,NaN,0.000000,1.620000e+02,NaN,...,1.000000,NaN,NaN,NaN,2.180000e+02,1916.000000,0.000000,1.600000,1.180000,0.000000
25%,NaN,NaN,50.000000,93.000000,7.000000,133.000000,NaN,614.000000,5.340988e+06,NaN,...,65.000000,NaN,NaN,NaN,6.000000e+06,1999.000000,281.000000,5.800000,1.850000,0.000000
50%,NaN,NaN,110.000000,103.000000,49.000000,371.500000,NaN,988.000000,2.551750e+07,NaN,...,156.000000,NaN,NaN,NaN,2.000000e+07,2005.000000,595.000000,6.600000,2.350000,166.000000
75%,NaN,NaN,195.000000,118.000000,194.500000,636.000000,NaN,11000.000000,6.230944e+07,NaN,...,326.000000,NaN,NaN,NaN,4.500000e+07,2011.000000,918.000000,7.200000,2.350000,3000.000000
max,NaN,NaN,813.000000,511.000000,23000.000000,23000.000000,NaN,640000.000000,7.605058e+08,NaN,...,5060.000000,NaN,NaN,NaN,1.221550e+10,2016.000000,137000.000000,9.500000,16.000000,349000.000000

In [5]:
missing_vals= movie_df.isnull().sum()
missing_vals

color                         19
director_name                104
num_critic_for_reviews        50
duration                      15
director_facebook_likes      104
actor_3_facebook_likes        23
actor_2_name                  13
actor_1_facebook_likes         7
gross                        884
genres                         0
actor_1_name                   7
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  23
facenumber_in_poster          13
plot_keywords                153
movie_imdb_link                0
num_user_for_reviews          21
language                      14
country                        5
content_rating               303
budget                       492
title_year                   108
actor_2_facebook_likes        13
imdb_score                     0
aspect_ratio                 329
movie_facebook_likes           0
dtype: int64

In [7]:
#Impute missing values for numeric features with the mean
numeric_features= ['num_critic_for_reviews', 'duration', 'director_facebook_likes', 
                    'actor_3_facebook_likes', 'actor_1_facebook_likes', 'gross', 
                    'num_user_for_reviews', 'budget', 'actor_2_facebook_likes', 'aspect_ratio']
for feature in numeric_features:
    movie_df[feature].fillna(movie_df[feature].mean(), inplace=True)

#Remove rows with missing values in critical features
critical_features= ['genres', 'movie_title', 'director_name', 'actor_1_name', 'actor_2_name', 'actor_3_name']
movie_df.dropna(subset=critical_features, inplace=True)

#Use default values for categorical features
categorical_features= ['color', 'language', 'country', 'content_rating']
for feature in categorical_features:
    movie_df[feature].fillna('Unknown', inplace=True)

#Verify that all missing values are handled
missing_values_after = movie_df.isnull().sum()


missing_values_after

color                          0
director_name                  0
num_critic_for_reviews         0
duration                       0
director_facebook_likes        0
actor_3_facebook_likes         0
actor_2_name                   0
actor_1_facebook_likes         0
gross                          0
genres                         0
actor_1_name                   0
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                   0
facenumber_in_poster          13
plot_keywords                138
movie_imdb_link                0
num_user_for_reviews           0
language                       0
country                        0
content_rating                 0
budget                         0
title_year                     2
actor_2_facebook_likes         0
imdb_score                     0
aspect_ratio                   0
movie_facebook_likes           0
dtype: int64

In [8]:
from sklearn.feature_extraction.text import TfidfVectorizer

#Combine selected features into a single string for each movie
movie_df['combined_features'] = movie_df['genres'] + ' ' + \
                                  movie_df['director_name'] + ' ' + \
                                  movie_df['actor_1_name'] + ' ' + \
                                  movie_df['actor_2_name'] + ' ' + \
                                  movie_df['actor_3_name']

#Initialize the TF-IDF Vectorizer
tfidf_vectorizer= TfidfVectorizer(stop_words='english')

#Apply the vectorizer on the combined features
tfidf_matrix= tfidf_vectorizer.fit_transform(movie_df['combined_features'])

#Display the shape of the resulting matrix
tfidf_matrix_shape = tfidf_matrix.shape

tfidf_matrix_shape

(4919, 8465)

In [10]:
#Check for the presence of the movie title "Avatar"
title_check= movie_df[movie_df['movie_title'].str.contains("Avatar", case=False, na=False)]


title_check[['movie_title']]

  movie_title
0     AvatarÂ

In [11]:
#Strip whitespace from movie titles
movie_df['movie_title'] = movie_df['movie_title'].str.strip()

#Updated recommendation function
def get_movie_recommendations(title, cosine_sim=cosine_sim_matrix):
    #Strip whitespace from the title
    title= title.strip()
    
    #Get the index of the movie that matches the title
    idx= movie_df[movie_df['movie_title'] == title].index[0]
    
    #Get the pairwise similarity scores of all movies with that movie
    sim_scores = list(enumerate(cosine_sim[idx]))
    
    #Sort the movies based on the similarity scores
    sim_scores= sorted(sim_scores, key=lambda x: x[1], reverse=True)
    
    #Get the scores of the 10 most similar movies
    sim_scores= sim_scores[1:11]
    
    #Get the movie indices
    movie_indices= [i[0] for i in sim_scores]
    
    #Return the top 10 most similar movies
    return movie_df.iloc[movie_indices][['movie_title', 'director_name', 'genres', 'imdb_score']]

#Test the recommendation function with the corrected movie title
recommendations= get_movie_recommendations('Avatar')


recommendations

,movie_title,director_name,genres,imdb_score
455,Face/Off,John Woo,Action|Crime|Sci-Fi|Thriller,7.3
2112,RoboCop 3,Fred Dekker,Action|Crime|Sci-Fi|Thriller,3.9
1127,Deep Rising,Stephen Sommers,Action|Adventure|Horror|Sci-Fi,6.0
306,End of Days,Peter Hyams,Action|Fantasy|Horror|Mystery,5.7
637,Mystery Men,Kinka Usher,Action|Comedy|Fantasy|Sci-Fi,6.0
2960,Tales from the Crypt: Demon Knight,Ernest R. Dickerson,Action|Fantasy|Horror|Thriller,6.7
801,The Mortal Instruments: City of Bones,Harald Zwart,Fantasy|Horror|Mystery|Romance,6.0
4426,Hatchet,Adam Green,Comedy|Horror,5.7
1211,The Last of the Mohicans,Michael Mann,Action|Adventure|Drama|Romance|War,7.8
2279,Undisputed,Walter Hill,Action|Crime|Drama|Sport,6.1

In [12]:
#Combine features into a single string
movie_df['combined_features']= movie_df['genres'] + ' ' + \
                                  movie_df['director_name'] + ' ' + \
                                  movie_df['actor_1_name'] + ' ' + \
                                  movie_df['actor_2_name'] + ' ' + \
                                  movie_df['actor_3_name'] + ' ' + \
                                  movie_df['content_rating'].fillna('') + ' ' + \
                                  movie_df['plot_keywords'].fillna('') + ' ' + \
                                  movie_df['imdb_score'].astype(str)

#Initialize and fit the TF-IDF Vectorizer
tfidf_vectorizer= TfidfVectorizer(stop_words='english')
tfidf_matrix= tfidf_vectorizer.fit_transform(movie_df['combined_features'])

#Calculate the cosine similarity matrix
cosine_sim_matrix= cosine_similarity(tfidf_matrix, tfidf_matrix)

In [14]:
#better function to get movie recommendations
def get_movie_recommendations(title, movie_df, cosine_sim_matrix):
    #Strip whitespace from the title
    title= title.strip()
    
    #Get the index of the movie that matches the title
    idx= movie_df[movie_df['movie_title'] == title].index[0]
    
    #Get the pairwise similarity scores of all movies with that movie
    sim_scores = list(enumerate(cosine_sim_matrix[idx]))
    
    #Sort the movies based on the similarity scores
    sim_scores= sorted(sim_scores, key=lambda x: x[1], reverse=True)
    
    #Get the scores of the 10 most similar movies
    sim_scores= sim_scores[1:11]
    
    #Get the movie indices
    movie_indices= [i[0] for i in sim_scores]
    
    #Return the top 10 most similar movies
    return movie_df.iloc[movie_indices][['movie_title', 'director_name', 'genres', 'imdb_score']]

#Test the recommendation function
recommendations= get_movie_recommendations('Avatar', movie_df, cosine_sim_matrix)
print(recommendations)

                                movie_title        director_name  \
1699                          The New World      Terrence Malick
2112                              RoboCop 3          Fred Dekker
801   The Mortal Instruments: City of Bones         Harald Zwart
455                                Face/Off             John Woo
637                             Mystery Men          Kinka Usher
1127                            Deep Rising      Stephen Sommers
2486                                 Aliens        James Cameron
306                             End of Days          Peter Hyams
2960     Tales from the Crypt: Demon Knight  Ernest R. Dickerson
3575                         The Terminator        James Cameron

                               genres  imdb_score
1699  Biography|Drama|History|Romance         6.7
2112     Action|Crime|Sci-Fi|Thriller         3.9
801    Fantasy|Horror|Mystery|Romance         6.0
455      Action|Crime|Sci-Fi|Thriller         7.3
637      Action|Comedy|Fantasy|Sci-Fi         6.0
1127   Action|Adventure|Horror|Sci-Fi         6.0
2486          Action|Adventure|Sci-Fi         8.4
306     Action|Fantasy|Horror|Mystery         5.7
2960   Action|Fantasy|Horror|Thriller         6.7
3575                    Action|Sci-Fi         8.1

In [15]:
import pickle

#Save the TF-IDF vectorizer and cosine similarity matrix to disk
with open('updated_tfidf_vectorizer.pkl', 'wb') as f:
    pickle.dump(tfidf_vectorizer, f)
with open('updated_cosine_sim_matrix.pkl', 'wb') as f:
    pickle.dump(cosine_sim_matrix, f)

In [16]:
import joblib

In [17]:
#Save the objects using joblib
joblib.dump(tfidf_vectorizer, 'joblib_tfidf_vectorizer.joblib')
joblib.dump(cosine_sim_matrix, 'joblib_cosine_sim_matrix.joblib')

['joblib_cosine_sim_matrix.joblib']

In [18]:
import os

pickle_tfidf_path = './updated_tfidf_vectorizer.pkl'
pickle_cosine_sim_path = './updated_cosine_sim_matrix.pkl'
joblib_tfidf_path = './joblib_tfidf_vectorizer.joblib'
joblib_cosine_sim_path = './joblib_cosine_sim_matrix.joblib'

# Get file sizes
pickle_tfidf_size = os.path.getsize(pickle_tfidf_path)
pickle_cosine_sim_size = os.path.getsize(pickle_cosine_sim_path)
joblib_tfidf_size = os.path.getsize(joblib_tfidf_path)
joblib_cosine_sim_size = os.path.getsize(joblib_cosine_sim_path)

print(f'Pickle TF-IDF Vectorizer Size: {pickle_tfidf_size} bytes')
print(f'Joblib TF-IDF Vectorizer Size: {joblib_tfidf_size} bytes')
print(f'Pickle Cosine Similarity Matrix Size: {pickle_cosine_sim_size} bytes')
print(f'Joblib Cosine Similarity Matrix Size: {joblib_cosine_sim_size} bytes')

Pickle TF-IDF Vectorizer Size: 397921 bytes
Joblib TF-IDF Vectorizer Size: 398025 bytes
Pickle Cosine Similarity Matrix Size: 193572651 bytes
Joblib Cosine Similarity Matrix Size: 193572713 bytes